.breadcrumbs {
    > li {
        display: inline-block;
        color: $mono-6;
        > a {
            display: inline-block;
            color: inherit;
            padding-top: 5px;
            height: $input-height;
            &:hover {
                color: $blue;
            }
        }
        + li {
            &:before {
                color: $mono-8;
                content: "chevron_right";
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 21px;
                line-height: 1;
                vertical-align: middle;
                letter-spacing: normal;
                text-transform: none;
                display: inline-block;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                -webkit-font-feature-settings: 'liga';
                -webkit-font-smoothing: antialiased;
            }
        }
        &.active,
        &.now-active {
            color: $mono-3;
            font-weight: bold;
        }
    }
}
.breadcrumbs--inverted {
    > li {
        color: rgba(white, 0.75);
        > a:hover {
            color: white;
            text-decoration: underline;
        }
        + li {
            &:before {
                color: rgba(white, 0.25);
            }
        }
        &.active,
        &.now-active {
            color: white;
        }
    }
}