.button {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: normal;
	touch-action: manipulation;
	cursor: pointer;
	white-space: nowrap;
	background: none;
	@include noSelect();
	border: none;
	border-radius: $input-borderRadius;
	font-style: normal;
	font-weight: bold;
	font-size: $input-fontSize;
	font-family: $font-system;
	height: $input-height;
	padding: 6px $spacing-sm 8px;
	+ .button {
		margin-left: $spacing-sm;
	}
	&:focus {
		outline: none;
		text-decoration: underline;
	}
	&.disabled,
	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}

.button {
	color: white;
	background: $blue;
	transition: 0.2s ease-in;
	&:hover,
	&.active,
	&.loading {
		box-shadow: $shadow-hover;
		transform: translateY(-1px);
	}
	.dropdown.now-open > &,
	&:hover:active,
	&.loading {
		box-shadow: $shadow-pressed;
		transition: none;
		transform: translateY(0px);
	}
}

@media (min-width: $media-md) {
	.button {
		padding: 8px $spacing-md 10px;
	}
}

.button.loading {
	color: transparent;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		margin: auto;
		width: 10em;
		height: 10em;
		font-size: 0.15em;
		border-radius: 50%;
		border: 2em solid rgba(white, 0.2);
		border-left-color: white;
		@include -webkit-prefix(animation, loader 1.1s infinite linear);
		@include -webkit-prefix(transform, translateZ(0));
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}