.card {
	display: block;
	background: white;
	box-shadow: $shadow;
	border-radius: $borderRadius-lg;
}
// .card--link {
// 	transition: 0.2s ease-in;
// 	&:hover,
// 	&.active {
// 		box-shadow: $shadow-hover;
// 		transform: translateY(-1px);
// 	}
// 	.dropdown.now-open > &,
// 	&:hover:active {
// 		transition: none;
// 		transform: translateY(0px);
// 	}
// 	&[disabled] {
// 		background: $mono-95;
// 		box-shadow: none;
// 		&:hover {
// 			box-shadow: none;
// 		}
// 	}
// }