.card {
	display: block;
	background: white;
	box-shadow: $shadow;
	border-radius: $borderRadius-md;
}
.card--link {
	transition: 0.2s ease-in;
	&:hover,
	&.active {
		box-shadow: $shadow-hover;
		transform: translateY(-1px);
		text-decoration: none;
	}
	&:active {
		transition: none;
		box-shadow: none;
		transform: translateY(1px);
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: $borderRadius-lg;
			box-shadow: $shadow-pressed;
			z-index: 1;
			pointer-events: none;
		}
	}
}