.crisp-client .crisp-1.crisp-1 {
	font-family: $font-system !important;
	.crisp-25 .crisp-26.crisp-26 {
		display: none !important;
	}
	.crisp-25 .crisp-27.crisp-256 {
		display: none !important;
		animation: none !important;
	}
	.crisp-25 .crisp-27.crisp-257 {
		animation: none !important;
	}
	.crisp-73,
	.crisp-73 * {
		font-family: $font-system !important;
	}
	.crisp-73 :placeholder,
	.crisp-73:placeholder {
		font-family: $font-system !important;
	}
	.crisp-73 :-moz-placeholder,
	.crisp-73:-moz-placeholder {
		font-family: $font-system !important;
	}
	.crisp-73 ::-moz-placeholder,
	.crisp-73::-moz-placeholder {
		font-family: $font-system !important;
	}
	.crisp-73 :-ms-input-placeholder,
	.crisp-73:-ms-input-placeholder {
		font-family: $font-system !important;
	}
	.crisp-73 ::-webkit-input-placeholder,
	.crisp-73::-webkit-input-placeholder {
		font-family: $font-system !important;
	}
	.crisp-39,
	.crisp-39 * {
		font-family: $font-system !important;
		font-weight: 600;
	}
	.crisp-39 :placeholder,
	.crisp-39:placeholder {
		font-family: $font-system !important;
		font-weight: 600;
	}
	.crisp-39 :-moz-placeholder,
	.crisp-39:-moz-placeholder {
		font-family: $font-system !important;
		font-weight: 600;
	}
	.crisp-39 ::-moz-placeholder,
	.crisp-39::-moz-placeholder {
		font-family: $font-system !important;
		font-weight: 600;
	}
	.crisp-39 :-ms-input-placeholder,
	.crisp-39:-ms-input-placeholder {
		font-family: $font-system !important;
		font-weight: 600;
	}
	.crisp-39 ::-webkit-input-placeholder,
	.crisp-39::-webkit-input-placeholder {
		font-family: $font-system !important;
		font-weight: 600;
	}
}