kbd {
	display: inline-block;
	line-height: 1;
	color: $mono-4;
	font-family: inherit;
	font-weight: bold;
	background: white;
	border: 1px solid $mono-8;
	box-shadow: 0 1px 0 $mono-8;
	border-radius: $borderRadius-sm;
	padding: $spacing-xxs $spacing-xs;
	vertical-align: middle;
	&.material-icons {
		font-size: 18px;
		padding-top: 2px;
		padding-bottom: 2px;
	}
}