.radioOption {
    display: block;
    line-height: normal;
    touch-action: manipulation;
    font-size: $fontSize;
    font-family: $font-system;
    margin-top: $spacing-xs;
    input[type="radio"],
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        display: none;
    }
}
.radioOption-frame {
    @include flexbox();
    @include align-items(center);
    border: 1px solid rgba($mono-3, 0.2);
    border-radius: $input-borderRadius;
    padding: 0.75rem;
    &:hover {
        border-color: rgba($mono-3, 0.4);
    }
    input:checked ~ &,
    .active & {
        border-color: $blue;
        .radioOption-checkbox {
            opacity: 1;
        }
        .radioOption-price {
            opacity: 0;
        }
    }
}
.radioOption-checkbox {
    @include flex-shrink(0);
    display: block;
    background: url('/assets/icons/check.svg');
    opacity: 0;
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
}
.radioOption-body {
    @include flex-grow(1);
}
.radioOption-title {
    font-weight: 600;
}
.radioOption-description {
    font-size: $fontSize-sm;
}
.radioOption-price {
    opacity: 1;
}