.testimonial-list {
	@include flexbox();
	@include flex-direction(column);
	@include justify-content(space-around);
	.testimonial {
		margin: $spacing-md 0;
	}
}
.testimonial {
}
.testimonial-header {
	text-align: center;
	+ .testimonial-excerpt {
		margin-top: $spacing-md;
	}
}
.testimonial-title,
.testimonial-quote {
	&:before {
		content: "“";
	}
	&:after {
		content: "”";
	}
}
.testimonial-title {
	font-size: 2rem;
}
.testimonial-excerpt {
	position: relative;
	max-width: $container-xs;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(-1.5deg);
	// .testimonial:nth-child(2) & {
	// 	transform: rotate(2deg);
	// }
}
.testimonial-quote {
	font-family: $font-serif;
	font-size: $fontSize;
}
.testimonial-goo {
	position: absolute;
	top: 0;
	margin: 0;
	color: $blue-light;
	-webkit-text-stroke: 20px;
	z-index: -1;
	opacity: 0.2;
	filter:url("#goo");
}
.testimonial-author {
	margin-top: $spacing-xxs;
	font-weight: 600;
}

@media (min-width: $media-md) {
	.testimonial-title {
		font-size: 3rem;
	}
}
@media (min-width: $media-lg) {
	.testimonial-title {
		font-size: 4rem;
	}
}