.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-regular {
	font-weight: normal;
}
.text-bold {
	font-weight: bold;
}
.text-italic {
	font-style: italic;
}
.text-noWrap {
	white-space: nowrap;
}