<section class="Logos">
	<ul class="Logos-grid">
		<li class="Logos-gridItem">
			<img class="Logos-logo" src="/assets/images/logos/nvidia.svg">
		</li>
		<li class="Logos-gridItem">
			<img class="Logos-logo" src="/assets/images/logos/surgemaker.svg">
		</li>
		<li class="Logos-gridItem">
			<img class="Logos-logo" src="/assets/images/logos/stackla.svg">
		</li>
		<li class="Logos-gridItem">
			<img class="Logos-logo" src="/assets/images/logos/glasgow.svg">
		</li>
		<li class="Logos-gridItem">
			<img class="Logos-logo" src="/assets/images/logos/myer.svg">
		</li>
		<li class="Logos-gridItem">
			<img class="Logos-logo" src="/assets/images/logos/telstra.svg">
		</li>
		<li class="Logos-gridItem">
			<img class="Logos-logo" src="/assets/images/logos/deputy.svg">
		</li>
	</ul>
</section>