@font-face {
    font-family: 'Calibre-Web';
    src: url('/assets/fonts/Calibre_Regular.woff2') format('woff2'),
         url('/assets/fonts/Calibre_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre-Web';
    src: url('/assets/fonts/Calibre_Semibold_Italic.woff2') format('woff2'),
         url('/assets/fonts/Calibre_Semibold_Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Calibre-Web';
    src: url('/assets/fonts/Calibre_Bold.woff2') format('woff2'),
         url('/assets/fonts/Calibre_Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}