.icon {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
.icon,
.material-icons {
	vertical-align: middle;
}
.svgIcon {
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	position: relative;
	top: -2px;
}