html {
	font-size: $fontSize;
}
body {
	font-family: $font-sans;
	line-height: $font-lineHeight;
	color: $mono-3;
	@include antialiased();
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
	line-height: $font-lineHeight-header;
	p,
	ul,
	ol {
		font-size: $fontSize;
		&:first-child {
			margin-top: 0;
			font-size: inherit;
		}
	}
}
h1,
.h1 {
	font-size: 2rem;
	font-weight: bold;
}
h2,
.h2 {
	font-size: 1.75rem;
	font-weight: bold;
}
h3,
.h3 {
	font-size: 1.5rem;
	font-weight: bold;
}
h4,
.h4 {
	font-size: 1.25rem;
	font-weight: bold;
}
h5,
.h5 {
	font-size: 1rem;
	font-weight: 600;
	font-style: italic;
}
.text-serif {
	font-family: $font-serif;
	line-height: $font-lineHeight--serif;
}
.text-lg {
	font-size: 1.25rem;
}
.text-xl {
	font-size: 1.5rem;
}
p {
	margin-top: 1em;
	max-width: $container-sm;
	&:first-child {
		margin-top: 0;
	}
}
mark {
	position: relative;
	z-index: -1;
    color: inherit;
    background: rgba($yellow, 0.5);
    padding: 0 4px;
    margin: 0 -4px;
}

@media (min-width: $media-sm) {
	h1,
	.h1 {
		font-size: 3rem;
	}
}

@media (min-width: $media-md) {
	html {
		font-size: $fontSize-lg;
	}
	.text-lg {
		font-size: 1.5rem;
	}
	.text-xl {
		font-size: 2rem;
	}
	h1,
	.h1 {
		font-size: 4rem;
	}
	h2,
	.h2 {
		font-size: 3rem;
	}
	h3,
	.h3 {
		font-size: 2rem;
	}
	h4,
	.h4 {
		font-size: 1.5rem;
	}
}