.Home-video {
	position: relative;
}
.Home-screen {
	background: black;
	box-shadow: 0 0 0 2px black;
	position: absolute;
	top: 5.5%;
	left: 0;
	right: 0;
	margin: auto;
	width: 76.0416667%;
}