.Page {
	@include flexbox();
	@include flex-direction(column);
	min-height: calc(100vh - #{$spacing-sm} * 2);
	transition: 0.25s ease-in-out;
}
.Page-content {
	@include flex-grow(1);
}
.Page-title {
	position: relative;
	font-weight: 400;
	&:after {
		content: "";
		display: block;
		width: 100%;
		border-bottom: 3px solid;
		position: absolute;
		bottom: 0.25rem;
	}
}
.Page-header {
	display: inline-block;
	position: relative;
	font-weight: 400;
	&:after {
		content: "";
		display: block;
		width: 100%;
		border-bottom: 2px solid;
		position: absolute;
		bottom: 0;
		opacity: 0.2;
	}
}